<script src="https://kit.fontawesome.com/ec83d6f5e1.js" crossorigin="anonymous"></script>
<div class="body">


<div *ngFor="let userObj of nameArray;">
    <div *ngIf="userObj.name && userObj.name.length; else userWithoutName" class="container" >
        <div [ngClass]="{arrival:userObj.name==='Arrivals',inhouse:userObj.name==='In-house',departure:userObj.name==='Departure',notification:userObj.name==='Notification',msg:userObj.name==='Message',bookStatus:userObj.name==='Booking-Status',reservation:userObj.name==='Reservation'}">{{userObj.name}}
            <span *ngIf="userObj.name==='Message'"><span class="icon"><img src="../assets/352432_info_icon.png" alt="" class="img" > </span>
        <div class="msgbox">Number of Messages per message status for running two days </div>
            </span>
        </div>
    <!-- </div> --></div>
    <ng-container [ngSwitch]="userObj.name">
        <span [ngStyle]="userObj.name === 'Arrivals' ? {'font-weight':'800'}:{'font-weight':'300'}">
            <ng-container *ngSwitchCase=="Arrivals">it's arrival</ng-container>
            <ng-container *ngSwitchCase=="Departure">it's Departure</ng-container>
        </span>
    </ng-container>
    
    <ng-template #userWithoutName> <span>No name</span> </ng-template>
</div>
</div>